.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 1.5rem;
    z-index: 10;
}

.ted {
    display: flex;
    flex-direction: row;

    .top {
        margin: 0;
        padding: 0;
        padding-right: 1rem;
    }

    .mid {
        margin: 0;
        padding: 0;
        text-transform: lowercase;
        font-family: "Amatic SC", "Amatic", cursive;
        font-size: 10em;
        height: 0.68em;
        line-height: 0.5em;
        margin-top: 0.065em;
    }

    .bottom {
        margin: 0;
        padding: 0;
        align-self: flex-end;
    }
}

.tag {
    margin-top: 1em;
    color: #00ff00;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2em;
}

// Adapted from http://stackoverflow.com/questions/18105152/alternative-for-blink
.blinkText {
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;

    color: #00ff00;
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
}